@import "./../../../utils/base";

:host header {
  height: 80px;
  width: 100%;
  background: #ffffffcf;
  backdrop-filter: blur(2px);

  .nav {
    a {
      &:hover {
        border-bottom: 2px solid lighten($accent, 20%);
      }

      &.active {
        border-bottom: 2px solid $accent;
      }
    }
  }
}
