@import "./../../../utils/base";
@import "./../../../utils/media";

:host {
  position: sticky;
  top: 0px;
  z-index: 1;

  header {
    height: 80px;
    width: 100%;
    backdrop-filter: blur(5px);

    .nav {
      a {
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid lighten($accent, 20%);
        }

        &.active {
          border-bottom: 2px solid $accent;
        }
      }
    }
  }
}
