<header class="container flex-row items-center justify-between">
    <a href="/" class="logo txt-primary" title="Ishwar Katwe">
        <h1>IK</h1>
    </a>
    <div class="nav flex flex-row justify-evenly gap-6">
        @for (item of nav; track $index) {
        <a [routerLink]="[item.link]" [routerLinkActive]="['active']">{{item.name}}</a>
        }
    </div>
    <div class="flex items-center justify-evenly gap-4">
        <a class="flex items-center justify-evenly" (click)="toggle()">
            <img src="/assets/icons/{{theme}}_mode.svg" width="25px" height="25px" />
        </a>
        <button class="button-primary">
            Login
        </button>
    </div>
</header>