<div class="container">

    <app-panel>
        <h2 header>{{data.personal_info.name}}</h2>
        <div body>
            <small class="text-secondary">{{data.personal_info.title}}</small>

            <p class="text-secondary mt-half-5">
                {{data.professional_summary}}
            </p>
        </div>
    </app-panel>


    <app-panel>
        <h2 header>Skills</h2>
        <div body>
            <div class="flex flex-column">
                @for (s of data.core_competencies; track $index) {
                <a class="text-secondary py-half-2">{{s}}</a>
                }
            </div>
        </div>
    </app-panel>


    @if (false) {
    <app-panel>
        <h2 header>Professional Experience</h2>
        <div body>
            <div class="flex flex-column">
                @for (c of data.professional_experience; track $index) {
                <div class="flex flex-column">
                    <h3 class="my-half-2">{{c.company}}</h3>
                    <small>{{c.dates}}</small>
                    <p>{{c.responsibilities}}</p>
                </div>
                }
            </div>
        </div>
    </app-panel>
    }
</div>