<div class="container">
    <app-panel>
        <div breadcrumb>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>{{pageName}}</li>
            </ul>
        </div>
        <div body class="flex items-center justify-center">
            <div class="width-100 md:width-50">
                <h3 class="mt-1 font-thin">Let’s get started</h3>
                <!-- <app-dynamic-form [formConfig]="formData"></app-dynamic-form> -->
            </div>
        </div>
    </app-panel>
</div>