<div class="container">
    <app-panel>
        <div breadcrumb>
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
        <label class="page-title" header>Contact Us</label>
        <div body>

            <h2 class="mt-1 font-thin">Let’s talk about your project</h2>
            <p class="secondary-text">We help companies and individuals build out their digital presence.</p>

            <app-dynamic-form [formConfig]="formData" (submit)="onSubmit($event)"></app-dynamic-form>
        </div>
        <div footer>

        </div>
    </app-panel>
</div>