// Mixin to generate margin classes from 0 to 10 in rem units
@mixin generate-margins-rem($min, $max) {
  @for $i from $min through $max {
    .m-#{$i} {
      margin: #{$i}rem;
    }
    .mt-#{$i} {
      margin-top: #{$i}rem;
    }
    .mb-#{$i} {
      margin-bottom: #{$i}rem;
    }
    .ml-#{$i} {
      margin-left: #{$i}rem;
    }
    .mr-#{$i} {
      margin-right: #{$i}rem;
    }
    .mx-#{$i} {
      margin-left: #{$i}rem;
      margin-right: #{$i}rem;
    }
    .my-#{$i} {
      margin-top: #{$i}rem;
      margin-bottom: #{$i}rem;
    }
  }
}

@mixin generate-margins-half-rem($min, $max) {
  @for $i from $min through $max {
    .m-half-#{$i} {
      margin: #{"0." + $i}rem;
    }
    .mt-half-#{$i} {
      margin-top: #{"0." + $i}rem;
    }
    .mb-half-#{$i} {
      margin-bottom: #{"0." + $i}rem;
    }
    .ml-half-#{$i} {
      margin-left: #{"0." + $i}rem;
    }
    .mr-half-#{$i} {
      margin-right: #{"0." + $i}rem;
    }
    .mx-half-#{$i} {
      margin-left: #{"0." + $i}rem;
      margin-right: #{"0." + $i}rem;
    }
    .my-half-#{$i} {
      margin-top: #{"0." + $i}rem;
      margin-bottom: #{"0." + $i}rem;
    }
  }
}

// Use the mixin to generate margin classes from 0 to 10 in rem
@include generate-margins-rem(0, 10);
@include generate-margins-half-rem(0, 9);
