<div class="container">
    <article class="hero flex flex-row justify-center items-center my-1">
        <div>
            <h1 class="text-primary">Hey, I'm Ishwar Katwe</h1>
            <p class="text-secondary">Welcome to my digital nook. I'm a software developer and content creator from
                India.
                Here, I share what I've
                been working on recently and things I've learned along the way.</p>
        </div>
        <div class="justify-center items-center">
            <figure>
                <img class="br-1" src="/assets/images/profile.png" alt="Ishwar Katwe">
            </figure>
        </div>
    </article>


    <app-notes></app-notes>

    <app-popular></app-popular>
</div>