<div class="container">
    <article class="hero">
        <div class="info">
            <h1 class="txt-primary h1">Hey, I'm Ishwar Katwe</h1>
            <p class="txt-secondary">Welcome to my digital nook. I'm a software developer and content creator from
                India.
                Here, I share what I've
                been working on recently and things I've learned along the way.</p>
        </div>
        <figure>
            <img src="/assets/images/profile.png" alt="Ishwar Katwe">
        </figure>
    </article>

    <app-notes></app-notes>

    <app-popular></app-popular>
</div>